<h1>New Skill</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Skill name:</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description (optional)</mat-label>
    <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        [(ngModel)]="data.description">
    </textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial
    (click)="onSubmit()">Submit</button>
</div>

