<mat-nav-list>
  <div *ngIf="userIsLogged" class="logged-buttons">
    <div class="buttons">
      <a mat-list-item (click)="onSidenavClose()">
        Profile
      </a>
    </div>
    <div class="buttons">
      <a mat-list-item routerLink="/resumes" (click)="onSidenavClose()">
        Resumes
      </a>
    </div>
     <div class="buttons">
      <a mat-list-item routerLink="/jobs" (click)="handleLogin()">
        Logout
      </a>
    </div>
  </div>

  <div *ngIf="!userIsLogged" class="buttons">
    <a mat-list-item (click)="handleLogin()">
      Login
    </a>
  </div>
  <div class="buttons">
    <a mat-list-item routerLink="/jobs" (click)="onSidenavClose()">
      Jobs
    </a>
  </div>
  <div class="buttons">
    <a mat-list-item routerLink="/search">
      <mat-icon>search</mat-icon>
    </a>
  </div>
  <div class="buttons">
    <a mat-list-item>
      <mat-icon>supervised_user_circle</mat-icon>
    </a> 
  </div>
</mat-nav-list>
