@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Vollkorn:wght@400;900&display=swap');

a {

  font-family: 'Vollkorn', serif;
  &:hover, &:active{
    color: lightgray;
  }
}

nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.buttons{
  cursor: pointer;
  text-decoration: none;
  background-color: #023028;
  a {
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.2em;
    color: white;
    font-family: 'Vollkorn', serif;
    &:hover, &:active{
      color: teal;
      background-color: red;
    }
  }
}
    
