<h1>New Education Data </h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>School name:</mat-label>
    <input matInput [(ngModel)]="data.institution" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Degree type:</mat-label>
    <input matInput [(ngModel)]="data.degree_type" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Degree:</mat-label>
    <input matInput [(ngModel)]="data.degree" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="data.started_at" required>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
      startView="multi-year"
      (yearSelected)="chosenYearHandler($event, 'started_at')"
      (monthSelected)="chosenMonthHandler($event, dp, 'started_at')"
      panelClass="date-picker">
    </mat-datepicker>
  </mat-form-field>
  <section>
    <mat-checkbox class="disable-end" [(ngModel)]="current">
      Current
    </mat-checkbox>
  </section>
  <div *ngIf="!current">
    <mat-form-field appearance="fill">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="ep" [formControl]="data.ended_at">
      <mat-datepicker-toggle matSuffix [for]="ep"></mat-datepicker-toggle>
      <mat-datepicker #ep
        startView="multi-year"
        (yearSelected)="chosenYearHandler($event, 'ended_at')"
        (monthSelected)="chosenMonthHandler($event, dp, 'ended_at')"
        panelClass="date-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.institution" cdkFocusInitial
    (click)="onSubmit()">Submit</button>
</div>
