@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:wght@400;600&display=swap');

.card-edit {
  width: 100%;
  border: 2px dashed purple;
}

.tab-content{
  width: 80%;
  display: table;
  .tab-header {
    .header-wrapper {
    }
    button {
      margin: 1em 0 0 1em;
    }
  }
  .row {
    margin-top: 5em;
  }
  .tab-footer{
  }
}
.mat-tab-body-content::-webkit-scrollbar {
  display: none;
} 

.card {
  border-radius: 0 0 1.5em 1.5em;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 200px;
  flex: 0 1 40%;
  .buttons-wrapper {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 94.5%;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .title-wrapper{
    width: 100%;
    display: flex;
    z-index: 2;
    justify-content: center;
    background-color: rgb(100, 100, 100);
    top: 0;
    transform: translate(0, -3em);
    position: sticky;
    h2 {
      border-radius: 0 0 1rem 1rem;
      font-family: 'Vollkorn', sans-serif;
      font-size: 1.5em;
      position: sticky;
      top: 0px;
      display: inline;
      color: white;
      padding-right: 1em;
      padding-left: 1em;
    }
  }
}

.content-wrapper{
  &::-webkit-scrollbar {
    display: none;
  }
}

.card.card-right{
  background-color: black;
  .container{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.12), 5px 5px 5px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}

.card.card-left{
  background-color: #023028;
  .container{
    box-shadow: 2px 2px 2px #6c757d, 2px 2px 2px #6c757d;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
      box-shadow: 0 14px 28px #6c757d, 0 10px 10px #6c757d;
    }
  }
}

.card-left {
  //background-color: #fdffb6;
  //background-image: url("/assets/graph-paper.svg")
}
.card-right {
  background-color: #EEEEEE;
}

/* width */
::-webkit-scrollbar {
  width: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: none;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  cursor: pointer;
  width: 100%;
  margin: 2px;
}


.container.evens {
  border-radius: 0 3em 0 0;
  margin-right: 0.5em;
  background-color: #EEEEEE;
  z-index: -1 !important;
}
.container.odds {
  border-radius: 0 0 0 3em;
  background-color: #588157;
  transform: translate(16px, 0);
  float: right;
  left: 10px;
  z-index: -1 !important;
}

.remove-left{
  //width: 0%;
  transform: translate(-200px, 0);
  -webkit-transition: 12s;
   transition:12s;
    -moz-transition:12s;
}

.remove-right{
  transform: translate(200px, 0);
  -webkit-transition: 12s;
   transition:12s;
    -moz-transition:12s;
}

.box {
  font-family: 'Open Sans', sans-serif;
  float: right;
  color: #023028;
  display: inline-block;
  align-items: center;
  max-width: 250px;
  margin-bottom: 0.5em;
  text-align: center;
  //background-color: #EEEEEE;
  border-radius: 4px;
  z-index: 1;
  text-align: right;
  text-justify: auto;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow-y:visible;
}

#update-button, #preview-button {
  margin-bottom: 2em;
  margin-right: 3em;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    font-size: 0.5em;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar{
    height: 0;
}

.mat-tab-label{
  padding: 1em;
  font-weight: 700;
  margin: 0.2em 0.2em 0.2em 0.2em;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif !important;
  border: 1px solid black;
  &.mat-tab-label-active {
    background-color: #023028;
    color: white;
    border: 0 solid transparent;
  }
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-buttons {
  float: right;
  display: table-column;
  button{
    font-family: 'Open Sans', sans-serif;
  }
}

.res-title {
  display: inline;
  margin-left: 2rem;
}
