@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:wght@400;600&display=swap');

.title{
  position: sticky;
  top: 0px;
  z-index: -1;
  display: inline;
  background-color: black;
  color: white;
  padding-right: 1em;
  padding-left: 1em;
  border-top: 0.1em solid red;
  border-right: 0.1em solid red;
  border-bottom: 0.1em solid red;
  border-radius: 0 0 1em 0;
}


.cards{
  width: 100%;
  .row {
    width: 95%;
    margin-top: 5em;
    margin-left: 2.5%;
    margin-right: 2.5%;
    button {
      margin-top: -3em;
      margin-left: 2em;
      overflow: visible;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.card {
  background: rgba(200,200,200, 0.7);
  border-radius: 8px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  overflow-y: scroll;
  min-width: 300px;
  h2 {
    font-family: 'Open Sans', sans-serif;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    margin-top: 1em;

  }
}

card-left {
  width: 50%;
}

.card-right {
  width: 45%;
  .title {
    border-top: 0.1rem solid red;
    border-right: 0.1rem solid red;
    border-bottom: 0.1rem solid red;
    border-radius: 0 0 1rem 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(10, 150, 90, 0.8);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(10, 150, 90, 0.8);
}

.container {
  display: inline-block;
  position: relative; 
  float: right;
  .removable{
    cursor: pointer;
    margin-top: 0.4em;
    margin-left: 0.6em;
    top: -1em;
    left: 0;
    z-index: 10;
    mat-icon {
      position: absolute;
      font-size: 1em;
    }
    .red {
      color: red;
    }
    .blue{
      color: blue;
    }
  }
}

.box {
  font-family: 'Open Sans', sans-serif;
  float: right;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  align-items: center;
  max-width: 250px;
  text-align: center;
  background: #66aa66;
  border-radius: 4px;
  z-index: 1;
  text-align: right;
  text-justify: auto;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow-y:visible;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

}

#update-button, #preview-button {
  margin-bottom: 2em;
  margin-right: 3em;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    font-size: 0.5em;
  }
}

.card-edit {
  .mat-tab-group.mat-primary .mat-ink-bar{
    background: orange;
    height: 5px;
  }

  .mat-tab-label{
    min-width: 25px !important;
    padding: 1em;
    margin: 0.2em;
    font-weight: 700;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif !important;
    &.mat-tab-label-active {
      color: rgba(100, 240, 100, 0.9);
      background-color: black;
      border-radius: 1em 1em 0 0;
    }
  }
  button {
    margin-top: 1em;
    float: left;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-button {
    display: inline;
    cursor: pointer;
    color: rgba(10, 100, 10, 0.7);
    mat-icon {
      font-size: 2.5em;
    }
  }

  #next {
    float: right;
    padding-left: 5em;
    width: 45%;
  }
  #back {
    width: 45%;
  }
}

.action-buttons {
  float: right;
  button{
    font-family: 'Open Sans', sans-serif;
  }
}

.res-title {
  display: inline;
  margin-left: 2rem;
}
