<div class="tab-content">
  <mat-tab-group mat-stretch-tabs class="centered" >
    <div *ngFor="let content of keys">
      <mat-tab [label]="labels[content]">
        <div>
          <div class="tab-header">
            <div class="header-wrapper"> 
              <button mat-raised-button color="accent" (click)="openDialog(content)">
                + {{labels[content]}}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="content-wrapper centered">
              <div class="card card-left">
                <div class="title-wrapper">
                  <h2>To Be Added</h2>
                </div>
                <div class="buttons-wrapper">
                  <div *ngFor="let data of available[content]; let i=index" [attr.data-index]="i">
                    <div class="container" 
                      [ngClass]="available.removeList[content].includes(data.id) ? getRemoveClass(i) : ''"
                      [ngClass]="toNumber(i)%2 === 0 ? 'evens' : 'odds'"
                      (click)="transferToOtherBox(content, i, available)"
                      matTooltip={{data.description}}
                      (contextmenu)="editElement()">
                      <div class="box">
                        {{data.show}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="current" class="card card-right">
                <div class="title-wrapper">
                  <h2>{{current.title}}</h2>
                </div>
                <div class="buttons-wrapper">
                  <div *ngFor="let data of current[content]; let i=index" [attr.data-index]="i">
                    <div class="container"
                      [ngClass]="current.removeList[content].includes(data.id) ? getRemoveClass(i) : ''" 
                      [ngClass]="toNumber(i)%2 === 0 ? 'evens' : 'odds'"
                      (click)="transferToOtherBox(content, i, current)"
                      matTooltip={{data.description}}>
                      <div class="box">
                        {{data.show}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
  <div class="tab-footer">
    <div *ngIf="slug==='new'" class="res-title">
      <mat-form-field appearance="fill">
        <mat-label>Resume Title:</mat-label>
        <input matInput [(ngModel)]="current.title" required>
      </mat-form-field>
    </div>
    <div class="action-buttons">
      <button id="preview-button" mat-raised-button color="accent">
        Preview
        <mat-icon>visibility_sharp</mat-icon>
      </button>
      <button *ngIf="slug !== 'new'; else newRes" id="update-button" mat-raised-button color="primary"
        (click)="updateCard()">Update
        <mat-icon>check_circle</mat-icon>
      </button>
      <ng-template #newRes>
        <button id="create-button" mat-raised-button color="primary"
          (click)="createCard()">Create
          <mat-icon>check_circle</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>





