<mat-toolbar color="primary" class="header">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="hamburger">menu</mat-icon>
    </button>
  </div>
  <div >
    <a class="logo" 
      routerLink="/home">
      <img src="/assets/logo_40.png">
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><a routerLink="/jobs"><mat-icon>landscape</mat-icon></a></li>
      <mat-list-item [matMenuTriggerFor]="menu">
        <a matline><mat-icon>wb_incandescent</mat-icon></a>
      </mat-list-item>
      <mat-menu color="primary" #menu="matMenu">
        <button mat-menu-item routerLink="user/users">
          <mat-icon>supervised_user_circle</mat-icon>Users</button>
        <button mat-menu-item>
          <mat-icon>perm_identity</mat-icon>Profile</button>
        <button mat-menu-item routerLink="/resumes">
          <mat-icon>dashboard</mat-icon>Resumes</button>
        <button mat-menu-item>
          <mat-icon>eject</mat-icon>Logout</button>
      </mat-menu>

      <li>
        <a routerLink="/search">
          <mat-icon>search</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
