<mat-toolbar color="primary" class="header">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="hamburger">menu</mat-icon>
    </button>
  </div>
  <div fxHide.xs>
  </div>
  <div fxFlex fxLayout class="logo">
    <a routerLink="/home">
      <logo></logo>
    </a>
  </div>
  <div fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items end">
      <div *ngIf="!userIsLogged; else loggedUser">
        <li>
          <a class="login-link" (click)="handleLogin()">
            Login
          </a>
        </li>
      </div>
      <ng-template #loggedUser class="logged-buttons">
        <li>
          <div class="buttons">
            <a >
              Profile
            </a>
          </div>
        </li>        
        <li>
          <div class="buttons">
            <a routerLink="resumes">
              Resumes
            </a>
          </div>
        </li>

        <li>
          <a class="login-link" (click)="handleLogin()">
            Logout
          </a>
        </li>
      </ng-template>
      <li>
        <div class="buttons">
          <a routerLink="/jobs">
            Jobs
          </a>
        </div>
      </li>
      <li>
        <div class="search-button">
          <a >
            <mat-icon>supervised_user_circle</mat-icon>
          </a> 
        </div>
      </li>
      <li>
        <div class="search-button">
          <a >
            <mat-icon>search</mat-icon>
          </a>
        </div>
      </li>
    </ul>
  </div>
</mat-toolbar>
