<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title-group>
      <mat-card-title>{{job?.title}}<button mat-stroked-button routerLink={{job?.partner}}>{{job?.partner_name}}</button>
</mat-card-title>
      <mat-card-subtitle> Posted {{job?.time_ago}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <section>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="40px">
        <div fxLayout="row wrap">
          <div fxFlex>{{job?.text}}</div>
        </div>
      </div>
    </mat-card-content>
    </section>
    <mat-divider></mat-divider>
    <section>
      <button mat-raised-button color="primary">
        Apply
      </button>
    </section>
    <mat-card-actions>
      <mat-form-field>
        <mat-select placeholder="Show related jobs">
          <mat-option *ngFor="let tag of job?.tags" [value]="tag.value">
            {{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</section>
