@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');
@import "custom";

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  background-color: #EEEEEE;
  font-family: 'Vollkorn', serif;
}


