<section fxLayout="column" fxFlexAlign="stretch" class="mat-typography title-group">
  <mat-divider></mat-divider>
  <div fxFlexAlign="center center">
    <div class="productCards">
       <mat-tab-group class='tab' (selectTabChange)="executeSelectedChange($event)">
        <mat-tab label="About">
          <h2>Us</h2>
          <p>{{us}}</p>
          <h2>Employers</h2>
          <div *ngFor="let line of employers">
            <p>{{line}}</p>
          </div>
          <h2>Job Seekers</h2>
          <p>{{seekers}}</p>
          <h2>Background</h2>
          <div *ngFor="let line of background">
            <p>{{line}}</p>
          </div>
        </mat-tab>
        <mat-tab label="Contact">
          <div>{{contact}}</div>
        </mat-tab>
        <mat-tab label="FAQ">
          <div>{{faq}}</div>
        </mat-tab>
       </mat-tab-group>
    </div>
  </div>
</section>
