<section fxLayout="column" fxFlexAlign="stretch" class="mat-typography title-group">
  <div fxFlexAlign="center center">
    <div class="productCards">
       <mat-tab-group class='tab' (selectTabChange)="executeSelectedChange($event)">
        <mat-tab label="ABOUT">
          <h2 class="home-header">Us</h2>
          <p class="text">{{us}}</p>
          <h2 class="home-header">Employers</h2>
          <div *ngFor="let line of employers">
            <p class="text-iter">{{line}}</p>
          </div>
          <h2 class="home-header">Job Seekers</h2>
          <p class="text">{{seekers}}</p>
          <h2 class="home-header">Background</h2>
          <div *ngFor="let line of background">
            <p class="text-iter">{{line}}</p>
          </div>
        </mat-tab>
        <mat-tab label="CONTACT">
          <div>{{contact}}</div>
        </mat-tab>
        <mat-tab label="FAQ">
          <div><p class="text-iter">{{faq}}</p></div>
        </mat-tab>
        <mat-tab label="TUTORIALS">
          <div>{{tutorials}}</div>
        </mat-tab>

       </mat-tab-group>
    </div>
  </div>
</section>
