@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:wght@400;600&display=swap');

section {
  font-family: 'Vollkorn', serif;
  
  mat-tab-label{
    font-family: 'Vollkorn', serif;
  }
  div p {
    color: rgba(10, 10, 10, 0.9);
    font-size: 0.5;
    margin: 30px 0;
  }
}

section div + p {
  color: #3f51b5;
  font-size: 0.5em;
  padding-bottom: 20px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    font-size: 0.5em;
  }

  h2.home-header {
    padding: 0.5em 0 0.5em 2em;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
  }
  p.text,p.text-iter{
    margin-top: -1em;
    padding-left: 3em;
    padding-right: 3em;

    font-family: 'Open Sans', sans-serif;
  }

  .mat-tab-label{
    font-weight: 700;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif !important;
    border: 0px;
    &.mat-tab-label-active {
      color: white;
      background-color: #023028;
      border-radius: 1em 0 1em 0;
    }
  }
 // mat-tabs.mat-default-theme mat-ink-bar, mat-tabs mat-ink-bar {
 //   color: yellow;
 //   background-color: blue;
 // }
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    height: 0;
}
